<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if controller_name == 'kaigos' && action_name == 'index' %>
    <%= stylesheet_link_tag 'kaigos' %>
  <% end %>
    <title>Document</title>
</head>


<header id="commonHeader">
<section id="flowsHead" class="wf-mplus1p">たった1分であなたにあった老人ホームを診断できる！</section>
<section id="flows" class="wf-mplus1p">老人ホーム診断</section>
</header>



<div id="wrapper">
   <div class="sense">
        <article id="pageBody">

            <div class="point_box">
            <div class="box">
            <div class="txt">
            <p>下記の質問に答えてみてください。最適な老人ホームを提案します</p>
            </div>
            </div>
            </div>


            <ul class="qalist wf-mplus1p">

            <li id="1" class="question">
                <a name="#1"></a>
                <div class="qbox"><span  class="q">Q.</span>医療介護は必要ですか?</div>
                <div class="qabox">
                    <a href="#2" onclick="show(2)" class="qabtn"><div class="btnBox btnBox_y">介護のみ<br>でよい</div></a>
                    <a href="#101" onclick="show(3)" class="qabtn"><div class="btnBox btnBox_n">必要</div></a>
                </div>
            </li>
            <li id="2" class="question">
                <a name="#"></a>
                <div class="qbox"><span  class="q">Q.</span>終身での入所を希望しますか？</div>
                <div class="qabox">
                    <a href="#3" onclick="show(101)" class="qabtn"><div class="btnBox btnBox_y">希望する</div></a>
                    <a href="#102" onclick="show(102)" class="qabtn"><div class="btnBox btnBox_n">リハビリをして<br>自宅へ戻りたい</div></a>
                </div>
            </li>
            <li id="3" class="question">
                <a name="#"></a>
                <div class="qbox"><span  class="q">Q.</span>ケア体制の充実は重視しますか?？</div>
                <div class="qabox">
                    <a href="#4" onclick="show(103)" class="qabtn"><div class="btnBox btnBox_y">高い</div></a>
                    <a href="#5" onclick="show(104)" class="qabtn"><div class="btnBox btnBox_n">低い</div></a>
                </div>
            </li>
            <li id="4" class="question">
                <a name="#4"></a>
                <div class="qbox"><span  class="q">Q.</span>入居する方に認知症はありますか?</div>
                <div class="qabox">
                    <a href="#7" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_y">ある</div></a>
                    <a href="#6" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_n">ない</div></a>
                </div>
            </li>
            <li id="5" class="question">
                <a name="#5"></a>
                <div class="qbox"><span  class="q">Q.</span>予算はどれくらいですか?</div>
                <div class="qabox">
                    <a href="#6" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_y">こだわりは<br>ない</div></a>
                    <a href="#108" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_n">余裕は<br>あまりない</div></a>
                </div>
            </li>
            <li id="6" class="question">
            <a name="#4"></a>
            <div class="qbox"><span  class="q">Q.</span>施設で重視するのはどちらですか?</div>
            <div class="qabox">
                <a href="#105" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_y">介護の<br>手厚さ</div></a>
                <a href="#8" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_n">プライバシー</div></a>
            </div>
            </li>
            <li id="7" class="question">
            <a name="#4"></a>
            <div class="qbox"><span  class="q">Q.</span>入居の時期はいつですか?</div>
            <div class="qabox">
                <a href="#9" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_y">こだわりは<br>ない</div></a>
                <a href="#105" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_n">なるべく<br>早く</div></a>
            </div>
            </li>
            <li id="8" class="question">
            <a name="#4"></a>
            <div class="qbox"><span  class="q">Q.</span>施設内のアクティビティで重視するのはどちらですか?</div>
            <div class="qabox">
                <a href="#106" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_y">積極的に<br>楽しみたい</div></a>
                <a href="#107" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_n">落ち着いて<br>生活したい</div></a>
            </div>
            </li>
            <li id="9" class="question">
            <a name="#4"></a>
            <div class="qbox"><span  class="q">Q.</span>予算はどれくらいですか?</div>
            <div class="qabox">
                <a href="#103" onclick="show(5)" class="qabtn"><div class="btnBox btnBox_y">こだわりは<br>ない</div></a>
                <a href="#104" onclick="show(6)" class="qabtn"><div class="btnBox btnBox_n">余裕は<br>あまりない</div></a>
            </div>
            </li>
            </ul>





            <div class="answerList">

                <div id="101" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたにあった老人ホームは
                        <span class="fs-18"><span class="bg-y">『介護医療院』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>介護医療院とは、<span>要介護者の長期療養と生活支援</span>を目的とした施設です。</p>
                        <p>入居条件は、要介護認定1〜5を受けた65歳以上の方で、要支援は対象外となります。</p>
                        <p>また、40〜64歳の方でも初老による認知症や関節リウマチなど、16種の特定疾病による要介護認定を受けていれば、入居対象です。</p>
                        <br>
                        <p>医師の配置が義務付けられており、他の施設では受け入れが難しい、喀痰（かくたん）吸引や
                        経管栄養など医療ニーズの高い要介護者の受け入れも可能です。</p>
                        <p>また介護医療院の理念として「利用者の尊厳の保持」と「自立支援」を掲げており、「地域に貢献し地域に開かれた交流施設」としての役割を期待されています。</p>
                        <p>人生の最終段階におけるケア（看取り）も行っており、重度の要介護者でも十分な医療ケアを受けながら安心した生活を送ることができる施設です。</p>
                        <p>居室もパーティションや家具で仕切られているため、４人部屋であってもプライバシーが守られる点も、介護医療院の特徴のひとつです。</p>
                        <br>
                        <p>しかし介護医療院というくくりでも、費用や人員体制は異なります。</p>
                        <br>
                        <p>介護医療院を選ぶポイント</p>
                        <p>・医療ケアが整っているか</p>
                        <p>・入居者の方のプライバシーは確保されているか</p>
                        <p>・介護サービスが充実しているかどうか</p>
                        <p><a href="#" class="square_btn">もう一度診断する</a></p>
                    </div>
                    </div>
                </div>

                <div id="102" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたにあった老人ホームは
                        <span class="fs-18"><span class="bg-y">『介護老人保健施設』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
                        <p>詳細を記載</p>
                        <p>詳細を記載</p>
                        <p>詳細を記載</p>
                        <p><a href="#" class="square_btn">もう一度診断する</a></p>
                    </div>
                    </div>
                </div>

                <div id="103" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたにあった老人ホームは<span class="fs-18"><span class="bg-y">『グループホーム』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>グループホームは認知症の方のみを入居対象とする施設です。</p>
                        <p>入居には「要支援2」または「要介護1以上」の認定と施設のある市区町村に住民票を移す必要があります。</p>
                        <p>民間施設の中では入居費用が比較的安価です。</p>
                        <p>入居後は入居者同士で約9名からなるユニットと呼ばれるグループを形成し、少人数で共同生活を送ります。</p>
                        <p>そのため、入居者同士でコミュニケーションを取りやすいのも特徴の一つです。</p>
                        <p>認知症の進行を遅らせるレクリエーションや専門スタッフによるケアを受けることができます。</p>
                        <p>ただし、認知症の症状が進行し、共同生活が難しくなったときは退去を求められる可能性もあるため注意が必要となります。</p>
                        <br>
                        <p>グループホームを選ぶポイント</p>
                        <p>・設備の充実度</p>
                        <p>・入居者の方の雰囲気</p>
                        <p>・施設や周辺環境の雰囲気</p>
                        <p>・家族が面会に行きやすい立地か</p>
                        <p><a href="#" class="square_btn">もう一度診断する</a></p>
                    </div>
                    </div>
                </div>

                <div id="104" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたにあった老人ホームは<span class="fs-18"><span class="bg-y">『特別養護老人ホーム』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>特別養護老人ホームは介護老人保健施設、介護医療院と同様に公的施設となります。</p>
                        <p>そのため費用は比較的安価となりますが入居条件が「要介護3以上」と厳しくなっております。</p>
                        <p>入居後は食事・排せつ・入浴の介助を始め、機能訓練や各種レクリエーションなどのサービスを受けることができます。</p>
                        <p>終身利用も可能であるため、入居後に心身状態が悪化した、要介護度が上がったからといって、退去を求められることは基本的にありません。</p>
                        <p>認知症への対応力も高いです。</p>
                        <p>特別養護老人ホームは要介護度が重く、予算的にもあまり余裕がない方におすすめの施設といえます。</p>
                        <br>
                        <p>特別養護老人ホームを選ぶポイント</p>
                        <p>・夜間の医療体制が整っているかどうか</p>
                        <p>・入居者の方の雰囲気</p>
                        <p>・入居待ちがどの程度か</p>
                        <p><a href="#" class="square_btn">もう一度診断する</a></p>
                    </div>
                    </div>
                </div>

                <div id="105" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたにあった老人ホームは<span class="fs-18"><span class="bg-y">『介護付き有料老人ホーム』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
                        <p>詳細を記載</p>
                        <p>詳細を記載</p>
                        <p>詳細を記載</p>
                        <p><a href="#" class="square_btn">もう一度診断する</a></p>
                    </div>
                    </div>
                </div>

                <div id="106" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたにあった老人ホームは<span class="fs-18"><span class="bg-y">『住宅型有料老人ホーム』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>説明文「タイトル」</p>
                        <p>詳細を記載</p>
                        <p>詳細を記載</p>
                        <p>詳細を記載</p>
                        <p><a href="#" class="square_btn">もう一度診断する</a></p>
                    </div>
                    </div>
                </div>

                <div id="107" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたにあった老人ホームは<span class="fs-18"><span class="bg-y">『サービス付き高齢者向け住宅』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>サービス付き高齢者向け住宅はバリアフリー完備の賃貸住宅です。</p>
                        <p>生活の自由度が高く、60歳以上であれば要介護認定を受けていない方でも入居可能です。</p>
                        <p>入居後は安否確認、生活相談のサービスを受けることができ、夜間対応の緊急通報システムも設置している施設が多いです。</p>
                        <p>また、サービス付き高齢者向け住宅は入居者一人一人にお部屋が割り当てられます。</p>
                        <p>そのため、ご自宅で一人暮らしをしている方も、入居後は安心・安全の環境で生活できます。</p>
                        <br>
                        <p>ただし、軽度向けの施設が多く、介護度が上がったり、認知症が進行したりすると、退去を求められる場合があるため注意が必要となります。</p>
                        <br>
                        <p>サービス付き高齢者向け住宅を選ぶポイント</p>
                        <p>・サービスの充実度</p>
                        <p>・緊急時の対応体制</p>
                        <p>・認知症が進行した場合、どこまで対応してもらえるか</p>
                        <p><a href="#" class="square_btn">もう一度診断する</a></p>
                    </div>
                    </div>
                </div>

                <div id="108" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>あなたにあった老人ホームは<span class="fs-18"><span class="bg-y">『ケアハウス』</span></span>です！</p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>ケアハウスは自立～要介護まで幅広く利用できる施設です。</p>
                        <br>
                        <p>入居一時金はかかっても30万円程度で、月額利用料は6～17万円と他の施設と比べても安価です。</p>
                        <p>しかし特別養護老人ホームと同様、入居希望者が殺到している施設が多く、入居できるまで待機を求められるケースが多いです。</p>
                        <p>ケアハウスには自立支援型と介護型とがあり、入居する本人がどちらに適しているのかを明確にする必要があります。</p>
                        <p>自立支援型の場合、入居後に要介護認定を受けて要介護度が上がると、退去を求められる可能性もあるため注意が必要となります。</p>
                        <br>
                        <p>ケアハウスを選ぶポイント</p>
                        <p>・入居待ちがどの程度か</p>
                        <p>・入居一時金、月額利用料が予算内に収まるかどうか</p>
                        <p><a href="#" class="square_btn">もう一度診断する</a></p>
                    </div>
                    </div>
                </div>
            </div>


        </article>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
   $('a[href^=#]').click(function() {
      var speed = 600;
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
   });
});
$(function(){
    h = $(window).height();
    h = h-30;
    $(".question").css("min-height", h + "px");
    $(".answerList .box").css("min-height", h + "px");
    
});
function show(idName){ 
    $("#" + idName).show();
}

</script>


</body>
</html>



