<!DOCTYPE html>
<html>
  <head>
    <title>Camellia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="header1">
    <%= link_to hello_index_path do %>
      <div class="header_menu_top3">
      </div>
    <% end %>
    <div class="header-list">
      <ul>
      <%= link_to '老人ホームを診断', :controller => "kaigos", :action => "index" %>
      </ul>
      <li>
      <%= link_to '認知症予防クイズ', :controller => "quizs", :action => "index" %>
      </li>

    </div>
    </div>
    </header>
    

    <main>
      <%= yield %>
    </main>
  </body>
</html>
